@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*General*/
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #0065fc;
}

/*---header---*/
/*logo*/

#logo {
  margin-top: 50px;
  margin-left: 50px;
}
/*nav*/

#menu {
  float: right;
  display: flex;
  margin-right: 75px;
}
#menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu ul li {
  float: left;
  padding-top: 50px;
}
#menu li a {
  padding: 30px;
}
#menu li.active {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

.inscrip-menu {
  color: #0065fc;
  font-weight: bold;
}
/*---main---*/
/*--section--*/
.section {
  display: flex;
}
/*trouver des hébergements*/
.trouver {
  padding-left: 50px;
}
.trouver h2 {
  margin-top: 25px;
  margin-bottom: 5px;
}
.trouver p {
  margin-top: 5px;
}

/*champs de recherche*/
.recherche {
  margin-left: 50px;
}

.recherche .fas {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  height: 50px;
  width: 50px;
  margin-right: -5px;
  margin-top: 0px;
}

#search {
  border: 1px solid #f2f2f2;
  background-color: white;
  width: 250px;
  height: 50px;
  font-weight: bold;
  padding-left: 18px;
}
.button-recherche {
  color: white;
  background-color: #0065fc;
  border-radius: 0 10px 10px 0;
  width: 130px;
  height: 50px;
  border: none;
  margin-left: -8px;
}
/*filtre*/
.filtres {
  display: flex;
}
.titre-filtre {
  margin-left: 60px;
  padding-top: 25px;
}
.button-filtre {
  margin-left: 30px;
  display: flex;
  margin-top: 30px;
  gap: 25px;
}
.icone-filtre {
  border: 2px solid #f2f2f2;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  border-left: none;
  padding: 0;
}
.icone-filtre .fas {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #deebff;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.icone-filtre span {
  font-weight: bold;
  padding: 0 20px 0 0;
}
.forme-icone {
  color: #0065fc;
}

/*info*/

.info-logement {
  display: flex;
  margin: 40px 0 40px 56px;
  margin-bottom: 36px;
  margin-left: 60px;
}
.info-logement .fas {
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.info-logement .info-icone {
  color: #0065fc;
}
.txt-info {
  padding-left: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/*--section hebergements--*/
#hebergements {
  background-color: #f2f2f2;
  margin-left: 50px;
  border-radius: 20px;
}

#heberge-titre {
  margin: 44px 0px 28px 40px;
}

.heberge-bloc-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.heberge-img-description {
  border: 1px solid #f2f2f2;
  background-color: white;
  padding: 6px;
  height: 201px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  object-fit: cover;
}
.heberge-img-description figure {
  margin: 0;
}
.heberge-img {
  width: 236px;
  height: 112px;
  border-radius: 15px 15px 0px 0px;
}

.hotel-title {
  font-weight: bold;

  padding-left: 16px;
}
.description {
  padding-left: 16px;
}

.prix {
  font-weight: bold;
}
.etoiles {
  padding-left: 16px;
}
.etoilebleue {
  color: #0065fc;
}
.etoilegris {
  color: #f2f2f2;
}
#affichage {
  margin-left: 42px;
  margin-bottom: 48px;
}
/*--aside--*/

.populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: 40px;
}
.populaires-titre {
  padding-left: 46px;
  padding-top: 36px;
  display: flex;
}
.populaires-titre .fas {
  margin-top: 30px;
  margin-left: 116px;
  width: 17px;
  height: 24px;
}

.populaires-bloc-img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 33px;
  padding-left: 36px;
  margin-bottom: 33px;
}

.populaires-img-description {
  border: 1px solid #f2f2f2;
  background-color: white;
  width: 344px;
  padding: 6px;
  border-radius: 15px;
}
.populaires-img-description figure {
  margin: 0;
}

.populaires-img {
  width: 126px;
  height: 134px;
  float: left;
  border-radius: 15px 0px 0px 15px;
}
.description-figure {
  display: flex;
  flex-direction: column;
}

/*--section activités--*/

.activites-titre {
  margin-left: 50px;
  margin-top: 65px;
}
.image1-activite {
  width: 302px;
  height: 390px;
  border-radius: 15px 15px 0px 0px;
}
.image2-activite {
  width: 302px;
  height: 180px;
  border-radius: 15px 15px 0px 0px;
}
.image3-activite {
  width: 302px;
  height: 109px;
  border-radius: 15px 15px 0px 0px;
}
.image4-activite {
  width: 302px;
  height: 390px;
  border-radius: 15px 15px 0px 0px;
}
.image5-activite {
  width: 302px;
  height: 140px;
  border-radius: 15px 15px 0px 0px;
}
.image6-activite {
  width: 302px;
  height: 152px;
  border-radius: 15px 15px 0px 0px;
}

.activite-images {
  display: flex;
  margin-bottom: 70px;
}
.colonne1 {
  height: 445px;
  width: 300px;
  padding-right: 44px;
}
.colonne2 {
  height: 445px;
  width: 300px;
  padding-right: 44px;
}
.colonne3 {
  height: 445px;
  width: 300px;
  padding-right: 44px;
}
.colonne4 {
  height: 445px;
  width: 300px;
  padding-right: 44px;
}
.activite-lieux {
  font-weight: bold;
  box-sizing: border-box;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 1px 1px lightgrey;
  width: 300px;
  height: 55px;
  margin-top: -4px;
  margin-bottom: 44px;
  padding-left: 18px;
  padding-top: 20px;
}
/*--footer--*/
.footer {
  display: flex;
  background-color: #f2f2f2;
}

.footer ul {
  list-style-type: none;
}
.footer ul li {
  padding-bottom: 20px;
}

.footer-titre {
  margin-left: 38px;
  margin-bottom: 28px;
  margin-top: 48px;
}
.a-propos {
  margin-right: 224px;
}
.nos-heberge {
  margin-right: 284px;
}
