@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*General*/
body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #0065fc;
}

/*---header---*/
.logo-menu {
  display: flex;
  justify-content: space-between;
}

/*logo*/

#logo {
  margin: 35px 0 0 50px;
}
.logo-site {
  flex: 2;
}
/*nav*/

.menu {
  display: flex;
}
.nav-item {
  display: flex;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding-top: 50px;
}
.menu li a {
  padding-left: 30px;
  padding-right: 30px;
}

.menu li a:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  padding-top: 48px;
}
.inscription {
  color: #0065fc;
  font-weight: bold;
  padding: 50px 70px 0 30px;
}

/*---main---*/
/*--section--*/
.partie-hotel {
  display: flex;
}
/*trouver des hébergements*/
.trouver {
  padding-left: 50px;
}
.trouver h2 {
  margin-top: 25px;
  margin-bottom: 5px;
}
.trouver p {
  margin-top: 5px;
}

/*champs de recherche*/
.recherche {
  margin-left: 50px;
  font-size: 1rem;
  display: inline-flex;
  flex-direction: row;
}

.recherche .map-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  height: 50px;
  width: 50px;
  margin-top: 0px;
  font-size: 1.2rem;
}

#search {
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  background-color: white;
  border-left: none;
  border-right: none;
  width: 250px;
  height: 50px;
  font-weight: bold;
  padding-left: 18px;
}
.button-recherche {
  color: white;
  background-color: #0065fc;
  border-radius: 0 10px 10px 0;
  width: 130px;
  height: 50px;
  border: none;
  width: 132px;
  cursor: pointer;
}
.button-recherche :hover {
  background-color: #d9d9d9;
}
#search-icon {
  display: none;
}
/*filtre*/
.filtres {
  display: flex;
}
.titre-filtre {
  margin-left: 60px;
  padding-top: 25px;
}
.button-filtre {
  margin-left: 30px;
  display: flex;
  margin-top: 30px;
  gap: 25px;
}
.icone-filtre {
  border: 2px solid #f2f2f2;
  background-color: white;
  border-radius: 50px;
  height: 50px;
  border-left: none;
  padding: 0;
}
.button-filtre :hover {
  cursor: pointer;
  color: #0065fc;
  border-color: #0065fc;
}

.icone-filtre .fas {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #deebff;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-top: -2px;
  font-size: 1.5em;
}

.icone-filtre span {
  font-weight: bold;
  padding: 0 20px 0 0;
}
.forme-icone {
  color: #0065fc;
}

/*info*/

.info-logement {
  display: flex;
  margin: 40px 0 40px 56px;
  margin-bottom: 36px;
  margin-left: 60px;
}
.info-logement .fas {
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.info-logement .info-icone {
  color: #0065fc;
}
.txt-info {
  padding-left: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
/*--section hebergements--*/
#hebergements {
  background-color: #f2f2f2;
  margin-left: 50px;
  border-radius: 20px;
}

#heberge-titre {
  margin: 44px 0px 28px 40px;
}

.heberge-bloc-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.heberge-img-description {
  border: 1px solid #f2f2f2;
  background-color: white;
  padding: 6px;
  height: 201px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  object-fit: cover;
}
.heberge-img-description figure {
  margin: 0;
}
.heberge-img {
  width: 236px;
  height: 112px;
  border-radius: 15px 15px 0px 0px;
}

.heberge-img-description .hotel-title {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 7px 0 10px 10px;
}
.heberge-img-description .description {
  padding-left: 10px;
  font-size: 1rem;
  padding-bottom: 8px;
}

.heberge-img-description .prix {
  font-weight: bold;
}
.heberge-img-description .etoiles {
  padding-left: 10px;
  margin-bottom: 8px;
  font-size: 0.9rem;
}
.etoilebleue {
  color: #0065fc;
}
.etoilegris {
  color: #d9d9d9;
}
#affichage {
  margin-left: 42px;
  margin-bottom: 48px;
  font-size: 1.1rem;
}
/*--aside--*/

.populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: 40px;
}
.populaires-titre {
  margin: 40px 40px 0 46px;
  display: flex;
}
.populaires-titre h2 {
  margin-top: -5px;
}
.populaires-titre .fas {
  width: 17px;
  height: 24px;
  margin-left: 106px;
  margin-bottom: 20px;
}

.populaires-bloc-img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 33px;
  padding-left: 36px;
  margin-bottom: 33px;
  padding-right: 40px;
}

.populaires-img-description {
  border: 1px solid #f2f2f2;
  background-color: white;
  width: 344px;
  padding: 6px;
  border-radius: 15px;
}
.populaires-img-description figure {
  margin: 0;
}

.populaires-img {
  width: 126px;
  height: 134px;
  float: left;
  border-radius: 15px 0px 0px 15px;
}
.populaires-img-description .description-figure {
  display: flex;
  flex-direction: column;
}
.populaires-img-description .hotel-title {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 13px 50px 10px 20px;
}
.populaires-img-description {
  font-size: 1rem;
}
.populaires-img-description .description-nuit {
  font-size: 1rem;
  padding-left: 20px;
  margin-bottom: 25px;
}

.populaires-img-description .description-figure .etoiles {
  font-size: 0.9rem;
  padding-left: 20px;
}
.populaires-img-description .prix {
  font-weight: bold;
}

/*--section activités--*/

.activites-titre {
  margin-left: 50px;
  margin-top: 65px;
}
.activite-marseille {
  margin-left: 50px;
  display: grid;
  width: 95%;
  height: 500px;
  margin-bottom: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 0.1fr 0.1fr 0.2fr 0.2fr;
  grid-gap: 40px;
  grid-template-areas:
    "activite1 activite2 activite4 activite5"
    "activite1 activite2 activite4 activite5"
    "activite1 activite2 activite4 activite6"
    "activite1 activite2 activite4 activite6"
    "activite1 activite3 activite4 activite6"
    "activite1 activite3 activite4 activite6";
}
#activite1 {
  grid-area: activite1;
}
#activite2 {
  grid-area: activite2;
}
#activite3 {
  grid-area: activite3;
}
#activite4 {
  grid-area: activite4;
}
#activite5 {
  grid-area: activite5;
}
#activite6 {
  grid-area: activite6;
}

.activite-image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 15px lightgrey;
}
.activite-image img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
}
.activite-image figure {
  height: 100%;
  margin: 0;
}
.activite-lieux {
  position: absolute;
  width: 95%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 20px 0 20px 16px;
  margin: 0;
  bottom: 0;
  font-weight: bold;
}

/*--footer--*/
footer {
  width: 100%;
  display: flex;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
}
.partie-footer {
  display: flex;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
}

.partie-footer ul {
  list-style-type: none;
}
.partie-footer ul li {
  padding-bottom: 20px;
}

.footer-titre {
  margin-left: 38px;
  margin-bottom: 28px;
  margin-top: 48px;
}

.assistance {
  margin-right: 26%;
}
/*--Responsive--*/
@media only screen and (max-width: 1280px) {
  main {
    max-width: 95%;
  }
  .heberge-bloc-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1024px) {
  .logo-menu {
    max-width: 97%;
  }
  main {
    max-width: 92%;
  }
  .partie-hotel {
    display: flex;
    flex-direction: column-reverse;
  }
  .populaires-titre {
    display: flex;
    justify-content: space-between;
  }
  .populaires {
    margin-bottom: 20px;
    margin-left: 50px;
  }
  .populaires-bloc-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 25px;
    padding: 0 30px 0 30px;
  }

  .populaires-img-description {
    width: 97%;
  }
  .populaires-img-description .populaires-img {
    height: 189px;
  }
  .populaires .hotel-title {
    padding-right: 0;
  }
  .heberge-bloc-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    padding: 0 40px 0 40px;
  }

  .heberge-img {
    height: 100px;
    background-size: cover;
  }

  .activite-marseille {
    margin-bottom: 60px;
    display: grid;
    width: 95%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "activite1 activite2 activite3"
      "activite4 activite5 activite6";
  }
  .activite-image {
    height: 250px;
  }
  #activite1 {
    grid-area: activite1;
  }
  #activite2 {
    grid-area: activite2;
  }
  #activite3 {
    grid-area: activite3;
  }
  #activite4 {
    grid-area: activite4;
  }
  #activite5 {
    grid-area: activite5;
  }
  #activite6 {
    grid-area: activite6;
  }
  .partie-footer .assistance {
    margin-right: 20%;
  }
}
@media only screen and (max-width: 770px) {
  #logo {
    margin-left: 30px;
  }
  .txt-info {
    flex-wrap: wrap;
  }
  .trouver {
    flex-wrap: wrap;
  }

  .recherche {
    position: relative;
  }
  .trouver {
    padding-left: 30px;
  }

  #search {
    width: 300px;
    height: 50px;
  }
  .recherche {
    margin-left: 30px;
  }
  .button-recherche {
    display: none;
  }
  #search-icon {
    display: block;
    position: absolute;
    right: -20px;
    border-radius: 15px;
    width: 50px;
  }
  .filtres {
    flex-direction: column;
  }
  .titre-filtre {
    margin-left: 33px;
  }
  .button-filtre {
    flex-wrap: wrap;
    margin-top: 0px;
    margin-left: 30px;
  }

  .info-logement {
    margin-left: 33px;
  }

  .populaires {
    width: 95%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 30px;
  }
  .populaires-bloc-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .populaires-img-description .populaires-img {
    width: 189px;
  }
  #hebergements {
    width: 95%;
    margin-left: 30px;
  }
  .heberge-bloc-img {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    padding: 0 30px 0 30px;
  }
  .heberge-img {
    width: 278px;
  }
  .activite-marseille {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "activite1 activite2"
      "activite3 activite4"
      "activite5 activite6";
  }
  #activite1 {
    grid-area: activite1;
  }
  #activite2 {
    grid-area: activite2;
  }
  #activite3 {
    grid-area: activite3;
  }
  #activite4 {
    grid-area: activite4;
  }
  #activite5 {
    grid-area: activite5;
  }
  #activite6 {
    grid-area: activite6;
  }
  .partie-footer .assistance {
    margin-right: 13%;
  }

  .activites-titre {
    margin-left: 30px;
  }
  .activite-marseille {
    margin-left: 30px;
  }
  .activite-lieux {
    padding-right: 1px;
  }
}
@media only screen and (max-width: 550px) {
  .logo-menu {
    margin: 0;
    flex-direction: column;
  }
  #logo {
    margin-left: 30px;
  }
  .inscription {
    align-self: flex-end;
    padding: 0;
    margin-right: 30px;
    position: relative;
    bottom: 30px;
  }
  .menu {
    order: 3;
  }
  .menu ul {
    width: 100%;
  }
  .menu ul li {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid #f2f2f2;
  }
  .menu ul li:hover {
    border-bottom-color: #0065fc;
  }
  .menu li a {
    padding: inherit;
  }

  .menu li a:hover {
    border-top: none;
  }
  .button-filtre {
    gap: 12px;
  }
  .heberge-img {
    width: 100%;
  }
  .heberge-bloc-img {
    max-width: 550px;
    gap: 20px;
  }
  .activite-lieux {
    padding-right: 1px;
  }
  .partie-footer {
    display: flex;
    flex-direction: column;
  }
}
/*--Version mobile--*/
@media only screen and (max-width: 451px) {
  #search {
    width: 230px;
  }
  .populaires-titre {
    margin-right: 35px;
  }
  .populaires-titre .fas {
    margin-left: 0;
  }
  .heberge-bloc-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .activite-marseille {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "activite1"
      "activite2"
      "activite3"
      "activite4"
      "activite5"
      "activite6";
  }
  #activite1 {
    grid-area: activite1;
  }
  #activite2 {
    grid-area: activite2;
  }
  #activite3 {
    grid-area: activite3;
  }
  #activite4 {
    grid-area: activite4;
  }
  #activite5 {
    grid-area: activite5;
  }
  #activite6 {
    grid-area: activite6;
  }
}
@media only screen and (max-width: 376px) {
  main {
    max-width: 376px;
  }
  #logo {
    margin-left: 20px;
  }
  .inscription {
    margin-right: 20px;
  }
  .trouver {
    padding-left: 20px;
  }
  .recherche {
    margin-left: 20px;
  }
  .titre-filtre {
    margin-left: 20px;
  }
  .button-filtre {
    margin-left: 20px;
  }
  .info-logement {
    margin-left: 23px;
  }
  .partie-hotel {
    width: 376px;
  }
  .populaires {
    margin-left: 0px;
    margin-bottom: 37px;
    width: 376px;
  }
  .populaires-titre {
    margin: 45px 20px 0 30px;
  }

  .populaires-bloc-img {
    padding: 0 26px 0 20px;
    gap: 10px;
  }

  #hebergements {
    width: 100%;
    margin-left: 0px;
    background-color: initial;
  }
  #heberge-titre h2 {
    margin: 44px 0 22px 0;
  }
  .heberge-bloc-img {
    padding: 0 26px 0 20px;
    gap: 12px;
  }
  .activites-titre {
    margin-top: 0;
  }
  .activite-marseille {
    margin: 0 20px 50px 20px;
    gap: 12px;
  }

  .activite-image {
    width: 335px;
    margin-right: 0;
  }

  .activite-lieux {
    padding: 22px 0 20px 12px;
    width: 97%;
  }
}
@media only screen and (max-width: 360px) {
  main {
    max-width: 360px;
  }
  .activite-image {
    width: 320px;
  }
}
@media only screen and (max-width: 320px) {
  main {
    max-width: 320px;
  }
  #search {
    max-width: 180px;
  }
}
@media only screen and (max-width: 280px) {
  main {
    max-width: 280px;
  }
  .activite-image {
    width: 240px;
  }
  .activite-lieux {
    width: 95%;
  }
}
